<launch>
  <arg name="port" default="4000" />
  <arg name="address" default="" />
  <arg name="ssl" default="false" />
  <arg name="certfile" />
  <arg name="keyfile" />
  <arg name="authenticate" default="false" />
  <param name="enable_statistics" type="bool" value="true"/>

  <group if="$(arg ssl)">
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
      <param name="certfile" value="$(arg certfile)" />
      <param name="keyfile" value="$(arg keyfile)" />
      <param name="authenticate" value="$(arg authenticate)" />
      <param name="port" value="$(arg port)"/>
      -<param name="address" value="$(arg address)"/>
    </node>
  </group>
  <group unless="$(arg ssl)">
    <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
      <param name="authenticate" value="$(arg authenticate)" />
      <param name="port" value="$(arg port)"/>
      <param name="address" value="$(arg address)"/>
    </node>
  </group>

  <node name="rosapi" pkg="rosapi" type="rosapi_node" />
  <!--<node name="tf2_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/>-->

  <!--<node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 1 odom base_link 10" />-->

  <node name="utm_odom" pkg="gps_common" type="utm_odometry_node">
    <param name="child_frame_id" value="base_link"/>
  </node>
  <!--<node name="navsat_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver"/>-->
  <!--<node name="odom_to_tf" pkg="odom_to_tf" type="odom_to_tf_node"/>-->
</launch>
